body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(95, 124, 143);
    font-size: large;
}
h1 {
    text-align: center;
    margin-top: -70px;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover {
    color:rgb(95, 124, 143)
}

#logo {
    width: 60px;
    height: auto;
    padding: 20px;
    margin-left: 20px;
}

body main {
    margin: auto;
    width: 60%;
    color: whitesmoke;
}


#rules {
    text-align: center;
}

li {
    list-style: none;
}

.header {
    color: #fff;
    background: rgb(113, 176, 216);
    padding-bottom: 10px;
}

.header nav ul {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

nav ul li a {
    color: #515355;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    list-style: unset;
}

nav ul li a:hover {
    color: red;
}

#video {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

footer {
background: rgb(113, 176, 216);
width: 100%;
display: flex;
flex-flow: row;
justify-content: space-around;
}

.contact {
    text-align: center;
    padding-bottom: 15px;
}

footer ul li a {
    color: #515355;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

footer ul li a:hover {
    color: red;
}

footer p {
    color: #515355
}

footer a {
    color: #515355
}
