#rules {
    text-align: center;
}

#to-win {
    background-color: rgb(70, 100, 150);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#rules {
    text-align-last: center;
}
#video {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
}