<html>
    <head>
        <title>{{ title }}</title>
        <link rel="shortcut icon" type="logo/jpg" href="static/scissors.png"/>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <header class="header">
            <img id=logo src="static/scissors.png" alt="Scissors Logo">
                <h1>Rock Paper Scissors</h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="/welcome">Welcome</a></li>
                        <li><a href="/play">Play</a></li>
                    </ul>
                </nav>
    
        </header>
        {% block content %}
        {% endblock %}
        <main>
        </main>
        
        <footer class="footer">
            <div class="container row footer-area">
                <h3 class="footer-title">
                    Rock Paper Scissors
                </h3>
                <div class="footer-widget">
                    <ul class="links">
                        <li><a href="#">About</a></li>
                        <li><a href="#"> Contact</a></li>
                    </ul>
                </div>
                <div class="footer-widget">
                    <p>Rock Street <br> Paper Avenue, Scissorville 
                        <p>
                        <a href="#">07892 111 222</a> <br>
                        <a href="#">rockpaperscissors@rockon.com</a>
                        </p>
                </div>
            </div>
        </footer>
    </body>
</html>