<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <link rel="shortcut icon" type="logo/jpg" href="static/scissors.png"/>
        <!-- <link rel="shortcut icon" type="logo/jpg" href="{{ url_for('static', filename = 'scissors.png') }}"/> -->
        <link rel="stylesheet" href="static/style.css">
        <link rel="stylesheet" href="static/welcome.css">
        <link rel="stylesheet" href="static/play.css">
        <link rel="stylesheet" href="static/result.css">
    </head>
    <body>
        <header class="header">
            <img id=logo src="static/scissors.png" alt="Scissors Logo">
                <h1><a href="/">Rock Paper Scissors Online</a></h1>
                <nav>
                    <ul class="main-nav">
                        <li><a href="/welcome">Welcome</a></li>
                        <li><a href="/play">Play</a></li>
                    </ul>
                </nav>
    
        </header>
        <main>
            <article class="article">

                <h2>To Play</h2>
                <p>In the address bar, player one should first write the / symbol, then either <strong>rock</strong>, <strong>paper</strong> or <strong>scissors</strong>, again followed by the <strong>/</strong> symbol.</p>
                <span>Player two then writes their choice.</span>

            </article>

        {% block content %}
        
        {% endblock %}

        <section class="testimonial-area">
            <article class="container row">
                <div class="single-testimonial">
                    <div class="row">
                        <div class="single-testmonial">
                            <p>"The best game since Tetris!"</p>
                            <div class="testmonial-author">
                                <h4> -  John Lennon</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <div class="row">
                        <div class="single-testmonial text-center">
                            <p>"The quickest 21 hours I've ever spent..."</p>
                            <div class="testmonial-author">
                                <h4> -  CodeClan Student</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="single-testimonial">
                    <div class="row">
                        <div class="single-testmonial text-center">
                            <p>"The <strong>BEST</strong> way to make covid-19 legislation."</p>
                            <div class="testmonial-author">
                                <h4> -  UK Politician</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>

        </main>

        <footer class="footer">
    
            <ul class="links">
                <li><a href="#">About</a></li>
                <li><a href="#"> Contact</a></li>
            </ul>
            <div class='footer-container'>
            
                    <p>1 Rock House, Paper Avenue, Scissorville</p>
                <div class='contact'>
                    <p><a href="#">07892 111 222</a></p> 
                    <a href="#">rockpaperscissors@rockon.com</a>
                </div>
            </div>

            <p>© 2021</p>

        </footer>
    </body>
</html>