{% extends "base.html" %}

{% block content %}

<section>
    <h3>Play!</h3>

    <section>

        <form action="/play" method="post">
            <input type="text" name="player1" id="input-name" placeholder="Write your name here..."> 
            <label for="move">Choose a move:</label>
            <select name="move" id="move">
            <option value="rock">Rock</option>
            <option value="saab">Paper</option>
            <option value="opel">Scissors</option>
            </select>
            <br><br>
            <input type="submit" value="Play">
        </form>
    </section>

</section>

{% endblock %}