{% extends "base.html" %}

{% block content %}

<body>
    <div id="to-win">
        <h2>To Win</h2>
        <p>Rock crushes scissors.</p>
        <p>Scissors cut paper.</p>
        <p>Paper covers rock.</p>
    </div>
    <hr>
    <div id="rules">
        <h2>The Rules</h2>

        <p>
            Traditionally, Rock Paper Scissors is a game for two or more people. 
        </p>
        <p>
            On the count of three, each player shapes their hand into a fist (rock), a flat hand (paper), or a fist with the middle and index fingers extended and separated, to look like open scissor blades. 
        </p>
    <hr>
        <h4>Watch a traditional game in action here:</h4>

    </div>

   <iframe id='video' width="560" height="315" src="https://www.youtube.com/embed/AnRYS02tvRA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</body>

{% endblock %}