{% extends "base.html" %}

{% block content %}

<h1 id="Welcome">Rock On</h1>

<body>
   <p>
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nobis dolorum impedit, odio at, excepturi earum recusandae voluptatibus eaque quam explicabo ad ducimus dolorem incidunt eveniet quibusdam beatae, minima tenetur.
   </p>
   <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eum id voluptatibus nihil ratione beatae perspiciatis consequatur rerum magni consequuntur obcaecati et iure dicta quidem ipsum, reiciendis, quaerat, amet quis?
   </p>
</body>

{% endblock %}